
/** ADD YOUR AWESOME CODES HERE **/


.dark-nav {
    background-color: rgb(10, 9, 9) !important;
}
.nav-item a {
    color: #fff !important;
}
.header-address {
    color: #fff;
    font-size: 26px;
}
.first-timetable-container {
    display: flex;
    justify-content: center;
}
.timetable-heading {
    color: #fff;
}
.logo-image {
    background: url('../images/red\ logo\ 1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 110px;
    height: 55px;
}

@media only screen and (min-width: 350px) and (max-width: 669px) {
    .header-address {
        font-size: 17px;
    }
}
